python-dotenv
colorama
transformers
sentence-transformers
sounddevice
numpy
faiss-cpu
aiofiles
torch
torchaudio
soundfile
Pillow
scipy
torchvision
openai
gymnasium
stable-baselines3
py-cpuinfo
matplotlib
flask
